

<table style="width: 518px;">
<tbody>
<tr style="height: 29px;">
<td style="width: 518px; height: 29px;">
<p><strong>Данные пользователя:</strong></p>
</td>
</tr>
<tr style="height: 131px;">
<td style="width: 518px; height: 131px;">
<%= form_with model: @user do |form| %>
<table style="width: 510px;">
<tbody>
<tr>
<td style="width: 66.2344px;">Имя</td>

<td style="width: 445.766px;"><input type="text" name="user[first_name]" id="user_first_name">
</tr>
<tr>
<td style="width: 66.2344px;">Фамилия</td>
<td style="width: 445.766px;"><input type="text" name="user[last_name]" id="user_last_name"></td>
</tr>
<tr>
<td style="width: 66.2344px;">Отчество</td>
<td style="width: 445.766px;"><input type="text" name="user[father_name]" id="user_father_name"></td>
</tr>
<tr>
<td style="width: 66.2344px;">Телефон</td>
<td style="width: 445.766px;"><input type="text" name="user[phone]" id="user_phone"></td>
</tr>
<tr>
<td style="width: 66.2344px;">Email</td>
<td style="width: 445.766px;"><input type="text" name="user[email]" id="user_email"></td>
</tr>
</tbody>
</table>

<div>
    <%= button_to "Сохранить", "logistic/save" %>
</div>

<% end %>



<h1>Заявки:</h1>

<h1>Пользователи:</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      Имя <%= user.first_name %>&nbsp;Фамилия <%= user.last_name %> Отчество <%= user.father_name %>
    </li>
  <% end %>
</ul>


